{% extends "layout.html.twig" %}

{% block body %}
    <div class="math">
        <table>
            <tr>
                <td>
                    {% for item in left_column %}
                        <p>{{ loop.index }}) {{ item.getA }} {{ item.getOperator }} {{ item.getB }} = </p>
                    {% endfor %}
                </td>
                <td>
                    {% for item in right_column %}
                        <p>{{ loop.index }}) {{ item.getA }} {{ item.getOperator }} {{ item.getB }} = </p>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
